header {
    height: 64px;
}

header, footer{
    padding: 10px;
    background-image: url('halftone.png');
    color: #1c1f23;
}

.volver, .redes a {
    text-decoration: none;
    color: #1c1f23;
    font-size: 24px;
}

.logotipo {
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #1c1f23;
}

.hamburguesa {
    float: right;
}


li {
    overflow: hidden;
}

main {
    margin-top: 64px;
}

.container {
    padding: 0;
}

#image360 {
    width: 100%;
    padding: 20px;
}

#image360 img {
    width: 300px;
    height: auto;
}

.infoProyecto {
    padding: 24px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-size: small;
}