@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;1,500&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body {
    font-family: 'IBM Plex Serif', sans-serif;
    background-color: #f5f5f5;
    color: #1c1f23;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 260;
    font-style: normal;
}
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 310;
    font-style: italic; 
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 320;
    font-style: normal;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 330;
    font-style: normal;
}
h5 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-style: italic;
}
h6 {
    font-family: 'IBM Plex Serif', sans-serif;
    font-style: italic;
}

header {
    height: 64px;
}

header, footer{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 10px;
    background-image: url('halftone.png');
    color: #1c1f23;
}

.archivo {
    font-family: 'Josefin Sans', sans-serif;
}
#extra {
padding: 12px;
}

.volver, .redes a {
    text-decoration: none;
    color: #1c1f23;
    font-size: 24px;
}

.logotipo {
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #1c1f23;
}

.hamburguesa {
    float: right;
}


.indexCarousel-item {
    height: calc(100vh - 64px);
}

.indexCarousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: blur(2px);
}

.card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

li {
    overflow: hidden;
}

main {
    margin-top: 64px;
}

.container {
    padding: 0;
}

#image360 {
    width: 100%;
    padding: 20px;
}

#image360 img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.infoProyecto {
    padding: 24px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    font-size: small;
}
.indexCaption {
    width: 100%;
    left: 0;
    margin: auto;
    border-radius: 0;
    margin-bottom: calc(50vh - 114px);
}

.indexCaption h4 {
    font-size: 32px;
    font-weight: 500;
}
.indexCaption a {
    font-family: 'Josefin Sans', sans-serif;
}

.card {
    margin: 12px;
    text-decoration: none;
}

md-block {
    display: block;
    max-width: 600px;
    margin: auto;
    padding: 12px;
}
md-block h1 {
    text-align: center;
}

#perfiles {
    padding: 12px;
}