body {
    background-color: white;
}

header {
    height: 64px;
    padding: 10px;
    background-image: url('dither.png');
    color: #1c1f23;
}

.volver {
    text-decoration: none;
    color: #1c1f23;
    font-size: 24px;
}

.logotipo {
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #1c1f23;
}

.hamburguesa {
    float: right;
}


li {
    overflow: hidden;
}

main {
    margin-top: 60px;
}

.container {
    padding: 0;
}

#image360 {
    padding: 20px;
}